*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  line-height: inherit;
  font-family: "Satoshi", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.hamburger-open,
.hamburger-close {
  width: 3rem;
  height: 3rem;
  display: none;
  cursor: pointer;
}
@media only screen and (min-width: 56.25em) {
  .hamburger-open,
  .hamburger-close {
    display: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .active {
    display: block;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav__logo {
    display: none;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.nav__item-bg {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 6rem;
}
@media only screen and (max-width: 75em) {
  .nav__item-bg {
    font-size: 1.2rem;
    padding: 0rem 4rem;
  }
}
.nav__item-bg a:link, .nav__item-bg a:visited {
  color: #ffffff;
}
.nav__item-bg a:hover, .nav__item-bg a:active {
  background-position: 100%;
  color: #ffffff;
  transform: translateX(1rem);
}
.nav__search {
  display: flex;
  align-items: center;
}
.nav__search .profile {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__search .profile {
    height: 4rem;
    width: 4rem;
  }
}

.menu-bg {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .menu-bg {
    display: none;
  }
}

.search {
  padding: 0.5rem 2rem;
  background-color: #999;
  opacity: 0.3;
  border-radius: 10rem;
  border: none;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  width: 17rem;
}
@media only screen and (max-width: 75em) {
  .search {
    padding: 0.7rem 1.5rem;
    margin-right: 1.5rem;
    width: 14rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .search {
    width: 1rem;
    visibility: hidden;
  }
}
.search__icon {
  fill: #ffffff;
  padding-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .search__icon {
    visibility: visible;
  }
}
.search__input {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
}
.search__input:focus {
  outline: none;
}

.nav-sm {
  display: none;
}
.nav-sm .menu-sm {
  width: 60vw;
  height: 100vh;
  padding-top: 1rem;
  background: linear-gradient(to top, #999, 0.7, rgba(255, 135, 43, 0.6431372549), 1);
  display: block;
  z-index: 100;
  position: fixed;
}
.nav-sm .menu-sm .nav__logo-sm {
  height: 3.74rem;
  width: 17rem;
}
.nav-sm .menu-sm .nav__item-sm {
  margin-top: 3.5rem;
}
.nav-sm .menu-sm .nav__item-sm a:link,
.nav-sm .menu-sm .nav__item-sm a:visited {
  font-size: 2rem;
  color: #ffffff;
}

/**
 * .highlight {
  &__name {
    height: 11rem;
    width: 52rem;
  }
}

.pic {
  background-image: url(../Assets/scream.png);
  background-size: cover;
  background-position: right;
  width: 50%;
}
 */
body {
  background-image: linear-gradient(to top, rgba(12, 21, 22, 0.7), #0c1516);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0 0 0 4rem;
}
@media only screen and (max-width: 75em) {
  body {
    padding: 0 2.5rem;
  }
}

header {
  padding: 2.5rem 0 2.5rem 0;
  position: fixed;
  width: 100%;
}

.hero {
  display: flex;
  padding: 7rem 0 7rem 0;
}

/*# sourceMappingURL=styles.css.map */
