@use "abstracts" as c;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  line-height: inherit;
  font-family: "Satoshi", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}
