@use "abstracts" as c;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  // background-color: v.$light-3;
  line-height: inherit;
  font-family: "Satoshi", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
