@use "abstracts" as c;

body {
  // background-color: c.$color-dark;
  background-image: linear-gradient(
    to top,
    rgba(c.$color-dark, 0.7),
    rgba(c.$color-dark, 1)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0 0 0 4rem;

  @include c.respond(tab-land) {
    padding: 0 2.5rem;
  }
}

header {
  padding: 2.5rem 0 2.5rem 0;
  position: fixed;
  width: 100%;
}

.hero {
  display: flex;
  padding: 7rem 0 7rem 0;
}
